@mixin font($font-family, $font-file, $extension) {
  @font-face {
    font-family: $font-family;

    @if $extension == 'eot' {
      src: url($font-file +'.eot');
      src: url($font-file + '.eot?#iefix') format('embedded-opentype');
    }

    @if $extension == 'woff' {
      src: url($font-file + '.woff') format('woff');
    }

    @if $extension == 'ttf' {
      src: url($font-file + '.ttf') format('truetype');
    }

    @if $extension == 'svg' {
      src: url($font-file + '.svg#aller') format('svg');
    }

    @if $extension == 'otf' {
      src: url($font-file + '.otf') format('truetype');
    }

    font-weight: normal;
    font-style: normal;
  }
}

@include font('Nunito Sans Regular', '@/assets/fonts/NunitoSans-Regular', 'ttf');
@include font('Nunito Sans Bold', '@/assets/fonts/NunitoSans-Bold', 'ttf');
@include font('Malvie', '@/assets/fonts/Malvie Trial', 'otf');

@import "@/assets/fonts/fontawesome-free-6.0.0/scss/fontawesome.scss";
@import "@/assets/fonts/fontawesome-free-6.0.0/scss/solid.scss";
@import "@/assets/fonts/fontawesome-free-6.0.0/scss/brands.scss";
